<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />		
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="multipleResultSetsEnabled" value="true"/>		
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>	
	
	<typeAliases>
		<typeAlias type="org.apache.commons.collections.map.CaseInsensitiveMap" alias="CaseMap" />
		<typeAlias type="java.lang.String" alias="String" />
		<typeAlias type="java.util.Map" alias="Map" />
		<typeAlias type="java.util.HashMap" alias="HashMap" />
		<typeAlias type="java.lang.Integer" alias="Int"/>
		<typeAlias type="java.lang.Long" alias="Long"/>								
		<typeAlias type="java.lang.Double" alias="Double"/>
		
		<!-- External VO object define -->
		<!-- [2000][EDMS-REQ-036]	2015-09-07	이재민 : 조직도연계처리 -->
		<typeAlias type="kr.co.exsoft.quartz.vo.SyncGroupVO" alias="SyncGroup" />
		<typeAlias type="kr.co.exsoft.quartz.vo.SyncUserVO" alias="SyncUser" />
			
	</typeAliases>
	
	<mappers>
		<!-- External Connection mappers -->
		<mapper resource="kr/co/exsoft/external/mappers/External.xml" />
	</mappers>
	
</configuration>